<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Page</title>
</head>

<body>
    <h1>Hi, </h1>
    <p>Here is your Download Link:</p>
    <a href="<%= download %>" target="_blank">
        <%= download %>
    </a>
    <p>Click on the link to download your file</p>
    <h5>You can send the link via email</h5>
        <form action="http://localhost:3000/api/email">
            <h2>Enter to send email</h2>
            <label for="sender">Enter Sender email</label>
            <input type="email" name="sender" id="sender"><br><br>
            <label for="receiver">Enter Receiver email</label>
            <input type="email" name="receiver" id="receiver"><br>
            <input type="submit" value="Submit">
        </form>

</body>

</html>